<div class="ui container">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis tellus ligula. Aliquam consequat dui eu nunc iaculis, nec consectetur dolor volutpat. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam rhoncus tellus sit amet nunc accumsan vehicula. Sed dictum gravida arcu. Duis eros ligula, scelerisque vitae varius ut, tempus sed augue. Vivamus lacinia vitae tortor nec eleifend. Curabitur a odio rhoncus, interdum massa quis, tristique augue.</p>

    <table class="ui very padded table">
        <thead>
            <tr>
                <th>MODULE</th>
                <th>START DATE</th>
                <th>WEEK</th>
                <th>DETAILS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MODULE 1: <strong>What is journalistic podcasting?</strong></td>
                <td>06 March, 2017</td>
                <td>1</td>
                <td>Live session Tuesday (optional)</td>
            </tr>
            <tr>
                <td></td>
                <td>13 March, 2017</td>
                <td>2</td>
                <td>On campus seminar Tuesday</td>
            </tr>
            <tr>
                <td>MODULE 2: <strong>Writing/pitching/technical</strong></td>
                <td>13 March, 2017</td>
                <td>3</td>
                <td>Live session Wednesday</td>
            </tr>
            <tr>
                <td>MODULE 3: <strong>Editing on the fly</strong></td>
                <td>13 March, 2017</td>
                <td>4</td>
                <td>Live session Tuesday</td>
            </tr>
            <tr>
                <td>MODULE 4: <strong>Being in the moment</strong></td>
                <td>13 March, 2017</td>
                <td>5</td>
                <td>Field trip - details</td>
            </tr>
            <tr>
                <td>MODULE 5: <strong>Planning</strong></td>
                <td>13 March, 2017</td>
                <td>6</td>
                <td>Live session Tuesday</td>
            </tr>
            <tr>
                <td>MODULE 6: <strong>Pre-production</strong></td>
                <td>13 March, 2017</td>
                <td>7</td>
                <td>Live session Tuesday</td>
            </tr>
            <tr>
                <td>MODULE 7: <strong>Production Process</strong></td>
                <td>13 March, 2017</td>
                <td>8</td>
                <td>Field trip - details</td>
            </tr>
            <tr>
                <td>MODULE 8: <strong>Post Production</strong></td>
                <td>13 March, 2017</td>
                <td>9</td>
                <td>Live session Tuesday</td>
            </tr>
            <tr>
                <td>MODULE 9: <strong>Presentation Skills</strong></td>
                <td>13 March, 2017</td>
                <td>10</td>
                <td>Live session Friday</td>
            </tr>
        </tbody>
    </table>

</div>
