<div class="ui container">

    <h2 class="ui dividing header">Section Title (H2)</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis tellus ligula. Aliquam consequat dui eu nunc iaculis, nec consectetur dolor volutpat. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Etiam rhoncus tellus sit amet nunc accumsan vehicula. Sed dictum gravida arcu. Duis eros ligula, scelerisque vitae varius ut, tempus sed augue. Vivamus lacinia vitae tortor nec eleifend. Curabitur a odio rhoncus, interdum massa quis,
        tristique augue.</p>

    <h3 class="ui dividing header">Subject learning outcomes (H3)</h3>
    <div class="ui ordered list">
        <p class="item">Recognise what distinguishes investigative journalism from other journalism
        </p>
        <p class="item">Develop their own ideas for investigative projectsDevelop skills in finding and interviewing a wide range of sources
        </p>
        <p class="item">Employ a range of investigative research techniques
        </p>
        <p class="item">Develop appropriate narrative and presentation techniques necessary to produce compelling in depth journalism
        </p>
        <p class="item">Demonstrate an understanding of the role of investigative journalism in a democratic society and an appreciationof its practical link to the concept of the ‘public right to know’
        </p>
    </div>

    <h4 class="ui dividing header">Assignments summary (H4)</h4>
    <p>Example of an Assignments Summary Table</p>
    <table class="ui very padded table">
        <thead>
            <tr>
                <th>DATE</th>
                <th>DETAILS</th>
                <th>TIME DUE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>06 March, 2017</td>
                <td><a href=""><i class="file outline  icon"></i> 1: <strong>Read the Syllabus</strong></a></td>
                <td>due by 11:00AM</td>
            </tr>
            <tr>
                <td>06 March, 2017</td>
                <td> <a href=""><i class="calendar icon"></i> 1: <strong>Field Trip 1: Mori Point</strong></a></td>
                <td>due by 11:00AM</td>
            </tr>
            <tr>
                <td>06 March, 2017</td>
                <td> <a href=""><i class="write icon"></i> 1: <strong>Assignment 1</strong></a></td>
                <td>due by 11:00AM</td>
            </tr>
            <tr>
                <td>06 March, 2017</td>
                <td> <a href=""><i class="announcement icon"></i> 1: <strong>Sign up for Field Trip</strong></a></td>
                <td>due by 11:00AM</td>
            </tr>
            <tr>
                <td>06 March, 2017</td>
                <td> <a href=""><i class="help circle icon"></i> 1: <strong>Quiz 3</strong></a></td>
                <td>due by 11:00AM</td>
            </tr>
        </tbody>
    </table>

</div>
