  <div id="container">
    <div id="utsHeader">
      Advanced Audio Visual Journalism
    </div>
    <div id="content">
      <p>This course equips you with everything you neeed to podcast</p>
      <p>like a professional and compete in a competitive market.</p>
    </div>
    <img src="http://contentmarketinginstitute.com/wp-content/uploads/2015/06/iStock-Unfinished-Business-image-2.jpg" alt="" />

    <div id="utsMenu">
      <a href="#" id="utsButton" class="Button--block">Welcome<span id="utsSpanNumber">1</span></a>
      <a href="#" id="utsButton" class="Button--block">Getting Started<span id="utsSpanNumber">2</span></a>
      <a href="#" id="utsButton" class="Button--block">What is podcasting?<span id="utsSpanNumber">3</span></a>
      <a href="#" id="utsButton" class="Button--block">Writing/pitching/technical<span id="utsSpanNumber">4</span></a>
      <a href="#" id="utsButton" class="Button--block">Editing on the fly<span id="utsSpanNumber">5</span></a>
      <a href="#" id="utsButton" class="Button--block">Being in the moment<span id="utsSpanNumber">6</span></a>
      <a href="#" id="utsButton" class="Button--block">Planning<span id="utsSpanNumber">7</span></a>
      <a href="#" id="utsButton" class="Button--block">Pre-production<span id="utsSpanNumber">8</span></a>
      <a href="#" id="utsButton" class="Button--block">Production Process<span id="utsSpanNumber">9</span></a>
      <a href="#" id="utsButton" class="Button--block">Post Production<span id="utsSpanNumber">10</span></a>
      <a href="#" id="utsButton" class="Button--block">Presentation Skills<span id="utsSpanNumber">11</span></a>
      <a href="#" id="utsButton" class="Button--block">Wrap up<span id="utsSpanNumber">12</span></a>

    </div>
  </div>
