<div class="ui container">
  <h2 class="ui dividing header">Section Title (H2) <i class="hand pointer icon"></i></h2>
  <p>Complete the activity below</p>
  <iframe width="100%" height="708px" scrolling="no" style="border: none;" src="https://www.opinionstage.com/polls/2408088/poll" frameBorder="0" name="os_frame" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
