<div class="ui container">

    <div class="ui internally celled grid">
        <div class="row">
            <div class="three wide column">
                    <img class="ui small centered image" src="http://l7.alamy.com/zooms/8f4509573c1b4456a3ef0bf51cabd630/abigail-rokison-former-actor-now-academic-and-author-of-shakespeare-ern66m.jpg" alt="" />
            </div>
            <div class="ten wide column">
                <h3>LEAD LECTURER: JANE DOE</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis tellus ligula. Aliquam consequat dui eu nunc iaculis, nec consectetur dolor volutpat. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                    per inceptos himenaeos. Etiam rhoncus tellus sit amet nunc accumsan vehicula. Sed dictum gravida arcu. Duis eros ligula, scelerisque vitae varius ut, tempus sed augue. Vivamus lacinia vitae tortor nec eleifend. Curabitur a odio rhoncus,
                    interdum massa quis, tristique augue.</p>
            </div>
            <div class="three wide column">
                <a href="mailto: jane.doe@uts.edu.au"><i class="mail icon"></i>jane.doe@uts.edu.au</a>
            </div>
        </div>

        <div class="row">
            <div class="three wide column">
                    <img class="ui small centered image" src="http://www.notcot.com/images/2015/03/unfinished2.jpg" alt="" />
            </div>
            <div class="ten wide column">
                <h3>E TUTOR: PETER WANG</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis tellus ligula. Aliquam consequat dui eu nunc iaculis, nec consectetur dolor volutpat. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                    per inceptos himenaeos. Etiam rhoncus tellus sit amet nunc accumsan vehicula. Sed dictum gravida arcu. Duis eros ligula, scelerisque vitae varius ut, tempus sed augue. Vivamus lacinia vitae tortor nec eleifend. Curabitur a odio rhoncus,
                    interdum massa quis, tristique augue.</p>
            </div>
            <div class="three wide column">
                <a href="mailto: jane.doe@uts.edu.au"><i class="mail icon"></i>peter.wang@uts.edu.au</a>
            </div>
        </div>

        <div class="row">
            <div class="three wide column">
                    <img class="ui small centered image" src="http://www.newdesignfile.com/postpic/2011/03/vince-vaughn-unfinished-business-memes_381834.jpg" alt="" /></div>
            <div class="ten wide column">
                <h3>E TUTOR: COOPER WHITE</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis tellus ligula. Aliquam consequat dui eu nunc iaculis, nec consectetur dolor volutpat. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                    per inceptos himenaeos. Etiam rhoncus tellus sit amet nunc accumsan vehicula. Sed dictum gravida arcu. Duis eros ligula, scelerisque vitae varius ut, tempus sed augue. Vivamus lacinia vitae tortor nec eleifend. Curabitur a odio rhoncus,
                    interdum massa quis, tristique augue.</p>
            </div>
            <div class="three wide column">
                <a href="mailto: jane.doe@uts.edu.au"><i class="mail icon"></i>cooper.white@uts.edu.au</a>
            </div>
        </div>

    </div>
  </div>
