<div class="ui container">

  <img class="fluid ui image" src="http://holradio.net/wp-content/uploads/2016/05/Untitled-2.png">
<p></p>
  <div class="ui grid">
    <div class="ten wide column">
      <table class="ui very padded table">
        <thead>
          <tr>
            <th>What will I learn in this module?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <li>Overview of the course 77889 and 78192 Trade Marks Law (Jane Rawlings)</li>
              <li>Introduction to trade mark law (Brian Elkington)</li>
              <li>Legal Analysis and Problem Solving Skills </li>
              <li>Law Research Essay Skills</li>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="six wide column">
      <table class="ui very padded table">
        <thead>
          <tr>
            <th>My learning, activities and assessments</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <li>Lecture (audio and text)?</li>
              <li>Lecture (?)</li>
              <li>Interactive video case study</li>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="ui grid">
    <div class="ten wide column">
      <table class="ui very padded table">
        <thead>
          <tr>
            <th>What will I be able to do by the end of this module?
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>After you have completed all the learning activities and the assessments, you will be able to:</p>
              <li>Outline the key topics, learning activities and assessment tasks in this subject and it can go for two lines and still be readable</li>
              <li>Identify the key concepts of trade marks law</li>
              <li>Apply principles of problem solving in a trade mark law context</li>
              <li>Undertake legal research to support arguments in an essay</li>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
