<div class="ui container">
  <p style="font-size: 20px">Opening text - Goodwill is dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

  <h2 class="ui dividing header">Section Title (H2)</h2>
  <p>A passing-off action is a remedy for the invasion of a right of property not in the mark, name or get-up improperly used, but in the business or goodwill likely to be injured by the misrepresentation made by passing</p>
<li>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem:</li>
<li>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. </li>
<li>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. </li>
<li>Mirum est notare quam littera gothica.</li>

  <h3 class="ui dividing header">Sub Section Title (H3)</h3>
  <p>A passing-off action is a remedy for the invasion of a right of property not in the mark, name or get-up improperly used, but in the business or goodwill likely to be injured by the misrepresentation made by passing</p>

  <h4 class="ui dividing header">Body copy Title (H4)</h4>
  <p>A passing-off action is a remedy for the invasion of a right of property not in the mark, name or get-up improperly used, but in the business or goodwill likely to be injured by the misrepresentation made by passing</p>

  <h2 class="ui dividing header">Goodwill & Reputation (H2)</h2>
  <p>A passing-off action is a remedy for the invasion of a right of property not in the mark, name or get-up improperly used, but in the business or goodwill likely to be injured by the misrepresentation made by passing</p>

  <blockquote>A passing-off action is a remedy for the invasion of a right of property not in the mark, name or get-up improperly used, but in the business or goodwill likely to be injured by the misrepresentation made by passing</blockquote>

  <p><em>Cited with approval by the <a href="">High Court of Australia in Commissioner of Taxation v Murry [1998]</a> HCA 42; 193 CLR 605; 72 ALJR 1065; 155 ALR 67 at [16] –[17]</em></p>

</div>
