<div class="ui container">
    <div class="ui embed"><iframe title="Susan Cornish" src="https://player.vimeo.com/video/201965314?badge=0&amp;autopause=0&amp;player_id=0" width="1920" height="1080" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen"></iframe></div>
    <div class="ui padded segment">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mollis tellus ligula. Aliquam consequat dui eu nunc iaculis, nec consectetur dolor volutpat. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos. Etiam rhoncus tellus sit amet nunc accumsan vehicula. Sed dictum gravida arcu. Duis eros ligula, scelerisque vitae varius ut, tempus sed augue. Vivamus lacinia vitae tortor nec eleifend. Curabitur a odio rhoncus, interdum
            massa quis, tristique augue.</p>
        <p>Ut euismod venenatis sem vitae accumsan. Sed commodo pellentesque venenatis. Cras vestibulum, risus vitae malesuada blandit, orci lectus vehicula leo, ut eleifend orci massa eu erat. Cras at turpis consequat ex aliquam congue. Suspendisse vulputate
            ac sem ut dapibus. Nunc tempor iaculis enim vel consequat. Vivamus quis aliquam ante. In consectetur arcu eu nulla eleifend, ac gravida purus cursus. Nunc pulvinar eget nunc nec porttitor. Vivamus ligula nunc, maximus sit amet felis a, ultrices
            pharetra odio.</p>
    </div>
</div>
