<div class="ui container">
<div class="ui grid">
  <div class="left floated left aligned eleven wide column">
   <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
  </div>
  <div class="ui image fluid">
        <img style="position: absolute; z-index: -1" src="http://i.amz.mshcdn.com/TGv_aKMOzq-kwSCI5WLeC5yyQ4g=/fit-in/850x850/http%3A%2F%2Fmashable.com%2Fwp-content%2Fgallery%2Fvince-vaughn-stock-photos%2FiStock-Unfinished-Business-2.jpg" alt="vince" /></div>

    <div class="ui right floated left aligned five wide column">
      <div class="ui segment">
        <div class="fluid ui primary button">Welcome</div>
        <p></p>
        <div class="fluid ui primary button">Getting started</div>
        <p></p>
        <div class="fluid ui labeled primary button">
            <div class="fluid ui primary button">What is journalistic podcasting?</div>
            <a class="ui basic blue label">1</a>
        </div>
        <p></p>
        <div class="fluid ui labeled primary button">
            <div class="fluid ui primary button">Writing/pitching/technical</div>
            <a class="ui basic blue label">2</a>
        </div>
        <p></p>
        <div class="fluid ui labeled primary button">
            <div class="fluid ui primary button">Editing on the fly</div>
            <a class="ui basic blue label">3</a>
        </div>
        <p></p>
        <div class="fluid ui labeled primary button">
            <div class="fluid ui primary button">Being in the moment</div>
            <a class="ui basic blue label">4</a>
        </div>
        <p></p>
        <div class="fluid ui labeled primary button">
            <div class="fluid ui primary button">Planning</div>
            <a class="ui basic blue label">5</a>
        </div>
        <p></p>
        <div class="fluid ui labeled primary button">
            <div class="fluid ui primary button">Pre-production</div>
            <a class="ui basic blue label">6</a>
        </div>
        <p></p>
        <div class="fluid ui labeled primary button">
            <div class="fluid ui primary button">Production Process</div>
            <a class="ui basic blue label">7</a>
        </div>
        <p></p>
        <div class="fluid ui labeled primary button">
            <div class="fluid ui primary button">Post Production</div>
            <a class="ui basic blue label">8</a>
        </div>
        <p></p>
        <div class="fluid ui labeled primary button">
            <div class="fluid ui primary button">Presentation Skills</div>
            <a class="ui basic blue label">9</a>
        </div>
        <p></p>
        <div class="fluid ui primary button">Wrap up</div>
  </div>
    </div>

</div>
</div>
